*.pyc
*.wasm
*.xcodeproj
**/*.db
**/*~lock~
**/.direnv
**/book/*
**/cargo-target
**/target
**/venv
.DS_Store
.blob_store
.build
.env
.env.secret.toml
.envrc
.flatpak-builder
.idea
.netrc
.perf-runs
.pytest_cache
.swiftpm
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.venv
.vscode
.wrangler
DerivedData/
Packages
monyacode-*linux*.gz
index.scip
vendor/*/grammars
xcuserdata/
/assets/*licenses.*
/crates/collab/seed.json
/crates/monyacode/resources/arch/PKGBUILD
/crates/monyacode/resources/arch/monyacode-*
/crates/monyacode/resources/flatpak/flatpak-cargo-sources.json
/crates/monyacode/resources/monyacode.desktop
/crates/project_panel/benches/linux_repo_snapshot.txt
/crates/theme/schemas/theme.json
/monyacode.xcworkspace
/inno
/node_modules/
/plugins/bin
/script/node_modules
/se.ziran.monyacode*.json
/snap
